In [17]:
import numpy as np
import pandas as pd

In [18]:
df = pd.read_csv('top_5_plants_import_export.csv')

In [19]:
small = df.loc[:,['hscode','volume']];

In [20]:
small.dtypes

hscode    int64
volume    int64
dtype: object

In [24]:
small['hscode'] = small['hscode'].apply(str)

In [25]:
small.dtypes

hscode    object
volume     int64
dtype: object

In [26]:
small2 = small.assign(eight_bits=small['hscode'].str[:8])

In [27]:
small2

           hscode  volume eight_bits
0     10059010000      63   10059010
1     10059010000      40   10059010
2     10059010000      20   10059010
3     10063040001     525   10063040
4     10063040001     130   10063040
...           ...     ...        ...
7303  10063099090       1   10063099
7304  10063099090       1   10063099
7305  10063099090       1   10063099
7306  10063099090       1   10063099
7307  10063099090       1   10063099

[7308 rows x 3 columns]

In [28]:
small2.to_csv('8bits.csv')

In [30]:
small2.to_json(path_or_buf='8bits.json',orient='records')